{% extends 'base.html'%}
{% block content %}

<div class="container my-5">
    <div class="row">
        <div class="col-10 offset-1">
            <div class="container">
                <a href="{% url 'index'%}">
                    <button class="btn btn-primary mb-3"> Back</button>
                </a>
                <H3> sales List</H3>
                <div class="container-fluid my-3 py-3">

                    <div class="table-responsive">
                        <table class="table table-striped table-sm">
                            <thead>
                            <tr>

                                <th>date</th>
                                <th>Product Name</th>
                                <th>quantity</th>
                                <th>Price</th>
                            </thead>
                            <tbody>
                            {% for item in monthlysales%}
                            <tr>
                                <td>{{item.date}}</td>
                                <td>{{item.product_name}}</td>
                                <td>{{item.quantity}}</td>
                                <td>{{item.price}}</td>

                            </tr>

                            {% endfor%}

                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
{% endblock %}